ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

DOMAIN_NAME=tribetailsattendant-8587.twil.io

TWILIO_BUSINESS_NUMBER=+1XXXXXXXXXX
TWILIO_PERSONAL_NUMBER=+1XXXXXXXXXX
CLIENT_IDENTITY=auntie
PERSONAL_CLIENT_IDENTITY=personal

TWIML_APP_SID=APxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PUSH_CREDENTIAL_SID=CRxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SID=SKxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_API_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

FCM_DEVICE_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDGRID_API_KEY=SG.<your-sendgrid-api-key>
SENDGRID_FROM_EMAIL=noreply@tribetails.com
MY_EMAIL=owner@example.com
